<h1>{{city}}</h1>
<h2>Nhiệt độ: {{temp}}<sup>0</sup>C</h2>
<h2>độ ẩm: {{hump}}<sup>%</sup></h2>
<h3>áp suât: {{press}}</h3>
<button type="button" onclick="hanoi()">Hà Nội</button>
<button type="button" onclick="tphcm()">TP HCM</button>
<button type="button" onclick="tokyo()">Tokyo</button>
<button type="button" onclick="bangkok()">BangKok</button>
<button type="button" onclick="london()">London</button>
<button type="button" onclick="beijng()">Beijing</button>
<button type="button" onclick="alaska()">Alaska</button>
<button type="button" onclick="newyork()">New York</button>
<button type="button" onclick="berlin()">Berlin</button>
